---
---

@import "{{ site.theme }}";

.portfolio-item {
    margin-bottom: 25px;
}

aside#sidebar {
    float: right;
    width: 100px;
}

#main-content {
  width: 100%;
}

.img-thumbnail {
  height: 210px;
  width: 700px;
}
