<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
      <h2>Mobile apps</h2>
      <div class="row">
          <div class="col-md-4 portfolio-item">
              <a href="http://rishirajrandive.github.io/FindRestaurant/">
                  <img class="img-thumbnail" src="https://raw.githubusercontent.com/rishirajrandive/FindRestaurant/master/images/icon.png" alt="">
              </a>
              <h3>
                  <a href="http://rishirajrandive.github.io/FindRestaurant/">Find Restaurant</a>
              </h3>
              <p>Android app to find restaurant based on location. App is based on Yelp APIs</p>
          </div>
          <div class="col-md-4 portfolio-item">
              <a href="https://rishirajrandive.github.io/shelterApp/">
                  <img class="img-thumbnail" src="https://raw.githubusercontent.com/rishirajrandive/shelterApp/master/Shelter/screenshots/icon.png" alt="">
              </a>
              <h3>
                  <a href="https://rishirajrandive.github.io/shelterApp/">Shelter</a>
              </h3>
              <p>An Android application for tenants and landlords</p>
          </div>
          <div class="col-md-4 portfolio-item">
              <a href="https://rishirajrandive.github.io/shareit/">
                  <img class="img-thumbnail" src="https://raw.githubusercontent.com/rishirajrandive/shareit/master/images/icon.png" alt="">
              </a>
              <h3>
                  <a href="https://rishirajrandive.github.io/shareit/">ShareIt</a>
              </h3>
              <p>Simple to use android app which uses Zappos APIs for instant result on search</p>
          </div>
      </div>

      <div class="row">
          <div class="col-md-4 portfolio-item">
              <a href="https://rishirajrandive.github.io/task-keeper/">
                  <img class="img-thumbnail" src="https://raw.githubusercontent.com/rishirajrandive/task-keeper/master/demo/icon.png" alt="">
              </a>
              <h3>
                  <a href="https://rishirajrandive.github.io/task-keeper/">Task Keeper</a>
              </h3>
              <p>An android app that allows building a todo list and basic todo items management functionality including adding new items, editing and deleting an existing item</p>
          </div>
          <div class="col-md-4 portfolio-item">
              <a href="https://rishirajrandive.github.io/dailywagers/">
                  <img class="img-thumbnail" src="https://raw.githubusercontent.com/rishirajrandive/dailywagers/master/images/icon.png" alt="">
              </a>
              <h3>
                  <a href="https://rishirajrandive.github.io/dailywagers/">Daily Wagers</a>
              </h3>
              <p>Android app to keep record of daily wagers such as maid, milkman or news paper guy.</p>
          </div>
          <div class="col-md-4 portfolio-item">
              <a href="https://rishirajrandive.github.io/TeamXero/">
                  <img class="img-thumbnail" src="https://raw.githubusercontent.com/rishirajrandive/TeamXero/master/demo/icon.png" alt="">
              </a>
              <h3>
                  <a href="https://rishirajrandive.github.io/TeamXero/">Food locator</a>
              </h3>
              <p>An Android app developed to find food providers nearby</p>
          </div>
      </div>

      <div class="row">
          <div class="col-md-4 portfolio-item">
              <a href="https://github.com/rishirajrandive/nomnom/">
                  <img class="img-thumbnail" src="https://raw.githubusercontent.com/rishirajrandive/nomnom/master/screenshots/icon.png" alt="">
              </a>
              <h3>
                  <a href="https://github.com/rishirajrandive/nomnom/">NomNom - Find restuarants</a>
              </h3>
              <p>Android app to find restaurants based on Google Places API</p>
          </div>
      </div>

      <h2>Web applications using Node.js</h2>
      <div class="row">
          <div class="col-md-4 portfolio-item">
              <a href="https://rishirajrandive.github.io/ebay-marketplace/">
                  <img class="img-thumbnail" src="https://raw.githubusercontent.com/rishirajrandive/ebay-marketplace/master/images/icon.jpg" alt="">
              </a>
              <h3>
                  <a href="https://rishirajrandive.github.io/ebay-marketplace/">eBay marketplace</a>
              </h3>
              <p>A replica of actual Ebay with all the features.</p>
          </div>
          <div class="col-md-4 portfolio-item">
              <a href="https://rishirajrandive.github.io/airbnb/">
                  <img class="img-thumbnail" src="https://raw.githubusercontent.com/rishirajrandive/airbnb/master/images/icon.jpg" alt="">
              </a>
              <h3>
                  <a href="https://rishirajrandive.github.io/airbnb/">AirBnB</a>
              </h3>
              <p>The application is the replica of the AirBnB with added feature of auction for booking</p>
          </div>
          <div class="col-md-4 portfolio-item">
              <a href="https://rishirajrandive.github.io/auto_exchange/">
                  <img class="img-thumbnail" src="https://raw.githubusercontent.com/rishirajrandive/auto_exchange/master/images/homepage.png" alt="">
              </a>
              <h3>
                  <a href="https://rishirajrandive.github.io/auto_exchange/">Auto Exchange</a>
              </h3>
              <p>A portal for the company, which will be used for buying and selling of Used Car(s) through its branches.</p>
          </div>
      </div>


      <h2>Web applications using Django</h2>
      <div class="row">
          <div class="col-md-4 portfolio-item">
              <a href="https://rishirajrandive.github.io/Containerized-Virtualized-Sensor-Management/">
                  <img class="img-thumbnail" src="https://raw.githubusercontent.com/rishirajrandive/Containerized-Virtualized-Sensor-Management/master/images/icon.png" alt="">
              </a>
              <h3>
                  <a href="https://rishirajrandive.github.io/Containerized-Virtualized-Sensor-Management/">Containerized and virtualized Sensor Management System (CVSMS)</a>
              </h3>
              <p>Web application can be used to add or remove different environmental sensors and provide the end users with APIs to access the data.</p>
          </div>
          <div class="col-md-4 portfolio-item">
              <a href="http://rishirajrandive.github.io/MobileSensorCloud/">
                  <img class="img-thumbnail" src="https://raw.githubusercontent.com/rishirajrandive/MobileSensorCloud/master/images/icon.png" alt="">
              </a>
              <h3>
                  <a href="http://rishirajrandive.github.io/MobileSensorCloud/">Mobile sensor cloud</a>
              </h3>
              <p>Sensor cloud Infrastructure and Software to Monitor sea water</p>
          </div>
      </div>

      <h2>Java applications</h2>
      <div class="row">
          <div class="col-md-4 portfolio-item">
              <a href="https://rishirajrandive.github.io/uml-parser/">
                  <img class="img-thumbnail" src="https://raw.githubusercontent.com/rishirajrandive/uml-parser/master/images/icon.png" alt="">
              </a>
              <h3>
                  <a href="https://rishirajrandive.github.io/uml-parser/">UML Parser</a>
              </h3>
              <p>UML Parser is an Java application to generate UML Class diagrams and Sequence diagrams for Java classes/projects</p>
          </div>
      </div>
    </section>
    {% include page-footer.html %}
  </body>
</html>
